@model IEnumerable<VET.Site.Models.TypeAnimals.IndexTypeAnimalsViewModel>
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Tipos de animales</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">

                <div class="row clearfix">
                    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                        <a asp-action="Create" asp-controller="TypeAnimal" data-loader="true" class="btn btn-primary waves-effect waves-light">Crear</a>
                    </div>
                </div>
                <br />
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Opciones</th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>

                                    <a asp-action="Edit" asp-route-id="@item.Id" data-loader="true" data-tooltip="tooltip" data-placement="top" title="Editar tipo de animal" class="btn btn-xs btn-table btn-circle waves-effect waves-light waves-circle">
                                        <i class="fas fa-edit"></i>
                                    </a>

                                    <a href="#confirm_@item.Id" data-tooltip="tooltip" data-placement="top" title="Eliminar tipo de animal" class="btn btn-xs btn-table btn-circle waves-effect waves-red waves-circle" data-toggle="modal" data-target="#confirm_@item.Id">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>



                                    <form asp-action="Delete" asp-route-id="@item.Id">
                                        <div class="modal fade" id="confirm_@item.Id" tabindex="-1" role="dialog">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="defaultModalLabel">Eliminar tipo de animal</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        ¿Está seguro de querer eliminar el tipo de animal?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <input type="submit" value="Eliminar" data-loader="true" class="btn btn-danger waves-effect" />
                                                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        }

                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Opciones</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
@section scripts {
    <script>
    $(function () {
            $("#example1").DataTable({
                "language": {
                    "url": "plugins/datatables/Spanish.json"
                }
            }
            );
        });
    </script>
}
